Sidebar {
    width: 40;
    height: 99%;
    background: $panel;
    transition: offset 500ms in_out_cubic;
    layer: overlay;

}

Sidebar.-hidden {
    offset-x: -100%;
}

Title {
    background: $boost;
    color: $secondary;
    padding: 2 4;
    border-right: vkey $background;
    dock: top;
    text-align: center;
    text-style: bold;
}

#open {
    background: $primary-darken-3;
    margin: 1;
}

.horizontal {
    layout: horizontal;
}

.bottom {
    align-vertical: bottom;
}

.preview {
    height: 4;
}

.preview-buttons {
    height: 3;
    margin: 0 1;
}

#preview-selector {
    width: 12;
}

Markdown {
    margin: 1;
}

TabPane {
    height: 77vh;
}

#table_scroll {
    height: 65vh;
    margin: 1;
}

TableWrapper {
    min-height: 10;
    height: 50vh;
    max-height: 30;
}

.filter {
    width: 30;
}

#email {
    width: 30;
    margin: 1;
}

.send-buttons {
    margin: 1;
}

#bottom_container {
    height: auto;
}

MarkdownH1 {
    border: none;
    content-align: left middle;
}

MarkdownH2 {
    border: none;
    text-align: left;
}
